/* start variables */
:root {
  --section-padding: 100px;
}
/* end variables */

/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

/* end global rules */

header {
  padding: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container .navbar {
  display: flex;
  list-style: none;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  min-width: 200px;
}

header nav li {
  display: inline-block;
  font-size: 28px;
}

header nav li a {
  display: block;
  padding: 25px;
  text-decoration: none;
  color: rgb(24, 52, 75);
  transition: 2s;
}

header nav li a:hover {
  padding-right: 100px;
  background-color: aqua;
}

header .cart {
  color: rgb(102, 102, 229);
}

h1 {
  color: rgb(112, 199, 130);
  text-align: center;

  /* google fonts link with the html*/
  font-family: "Nosifer", sans-serif;
}
p {
  text-align: center;
  color: aqua;
}
/* start landing section */
.landing {
  background-image: url(/images/Pink\ &\ Blue\ Futuristic\ Gaming\ Channel\ Youtube\ Intro.mp4);
  background-size: cover;
  height: calc(100vh - 64px);
}
/* end landing section */

/* start footer */
.footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  text-align: center;
}

.footer .container {
  position: relative;
}

.footer img {
  margin-bottom: 20px;
}

.footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid #333333;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
}

.footer .social-icons i {
  padding: 10px 15px;
}

.footer .copyright {
  margin-top: 60px;
}

/* end footer */

@media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 768px) {
  video {
    display: none;
  }
  #main {
    background: url(/images/welcome.mp4);
    background-size: cover;
  }
}
